body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: courier;
  background-image: url("assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

option:hover {
  cursor: pointer;
}

input {
  font-family: inherit;
}

option {
  font-family: inherit;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: #0fb9b1;
}

.box {
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(225, 225, 225, .9);
padding: 150px;
margin-top: 250px;
margin-bottom: 200px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: flex;
  margin-bottom: 20px;
}

#title {
  display: flex;
  margin-left: 50px;
  font-size: 25px;
}

.input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;

}
