@font-face {
	font-family: "cloud";
	src: url("../assets/CottonCloud.ttf");
}

@font-face {
	font-family: "pirate";
	src: url("../assets/Pirate.ttf");
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	font-family: courier;
  background-image: url("../assets/burger-friends.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
}

button {
  display: flex;
	font-family: courier;
  padding: 10px;
}

button:hover {
	cursor: pointer;
}

h2 {
	font-size: 25px;
	font-family: courier;
}

a {
	text-decoration: none;
}
/* ---- HEADER ---- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #0fb9b1;
	margin-bottom: 150px;
}

.welcome-message {
  display: flex;
  margin-left: 50px;
  font-size: 35px;
}

.icon-container {
	display: flex;
}

#header-button {
  margin-right: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ---- MAIN DISPLAY ---- */
.container {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;

}

.display {
  display: flex;
  background-color: rgba(225, 225, 225, .8);
  padding-right: 50px;
  padding-left: 50px;
	height: 400px;
  width: 400px;
	margin: 25px 100px 25px 100px;
}

/* ---- LEFT BOX ---- */

#userInputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

/* ---- RIGHT BOX ---- */

#recipeResultsContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recipeDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOLDS INNERHTML */
#results-string-container {
  display: flex;
  margin-bottom: 20px;
  font-style: italic;
}
/*    --------    */

.dish-title {
  display: flex;
}

.dishes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 25px;
}

#cookpot {
  display: flex;
  height: 300px;
}

/* THEMES */

/* DREAMY */

.body.dreamy {
	background-image: url("https://wallpapercave.com/dwp2x/wp9952056.jpg")
}

.navbar.dreamy {
  background-color: #D5F5E3;
	opacity: .7;
  border-bottom: 4px #ABEBC6 solid;
  font-family: "cloud";
}

.display.dreamy {
	background-color: rgba(255, 249, 254, .8);
}

.button.dreamy {
	border: none;
	border-radius: 15px;
	background-color: #D5F5E3;
}

.button.dreamy:hover {
background-color: #ABEBC6;
}

.submit.dreamy {
	font-family: courier;
	border: 2px solid #FFC8E7;
	border-radius: 15px;
	background-color: #FCE1F0;
}

.submit.dreamy:hover {
	background-color: #FFC8E7;
}

/* LUNA */

.body.luna {
	background-image: url("https://wallpapercave.com/wp/wp7691225.jpg")
}

.navbar.luna {
  background-color: #021631;
	opacity: .7;
  border-bottom: 4px #1F2B6A solid;
  font-family: "cloud"
}

.welcome-message.luna {
	color: white;
}

.button.luna {
	background-color: #021631;
	border: none;
}

.button.luna:hover {
	background-color: #1F2B6A;
}
